<p>
    search works!
</p>
<input type="text" (keyup)="onKeyup($event)">
<button (click)="getUsers()"> Search </button>

<ol *ngIf="searchResult">
    <md-card class="example-card" *ngFor="let user of searchResult.items">
        <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title>
                <a md-raised-button (click)='showUserDetail(user)'>{{user.login}}</a>
            </md-card-title>
            <md-card-subtitle>NAME</md-card-subtitle>
        </md-card-header>
        <img [ngStyle]="{'width': '150px', 'height': '150px'}" [src]="user.avatar_url">
        <md-card-content>
            <p>
                This is product balblabla
            </p>
        </md-card-content>
        <md-card-actions>
            <button md-button>Price</button>
            <button md-button>Seller</button>
        </md-card-actions>
    </md-card>
</ol>

<style>
    .example-card {
        margin: 0;
        float: left;
        margin: 5px;
        width: 300px;
    }
</style>